@use "../abstract" as ab;
.hero {
    margin-top: 76px;
    &__left {
        padding: 57px 30px 57px 0;
        @include ab.responsive("tm") {
            padding-right: 0;
            text-align: center;
        }
    }
    &__title {
        margin-top: 12px;
    }
    &__hightlight {
        color: #7264d6;
    }
    &__desc {
        margin-top: 20px;
        @include ab.responsive("tm") {
            // display: none;
        }
    }
    &__form {
        margin-top: 48px;
    }
    &__form {
        position: relative;

        @include ab.responsive("tm") {
            @include ab.flexCenter();
        }

        input {
            width: 540px;
            height: 74px;
            border-radius: 8px;
            background: #fff;
            box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
            padding: 23px 160px 23px 23px;
            color: #696d76;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.75; /* 175% */

            @include ab.responsive("tm") {
                width: 380px;
                height: 60px;
                font-size: 1.4rem;
            }
        }
        .btn {
            position: absolute;
            right: -10px;
            top: 8px;
            @include ab.responsive("tm") {
                position: relative;
                inset: 0;
            }
        }
    }
    &__note {
        opacity: 0.7;
        display: inline-block;
        margin-top: 20px;
    }

    &__right {
        position: relative;
        @include ab.responsive("tm") {
            @include ab.flexCenter();
        }
    }
    .hero__card-deposite {
        @include ab.flexCenter($j: null);
        position: absolute;
        top: 113px;
        left: -92px;
        background: #fff;
        width: 174px;
        height: 46px;
        border-radius: 6px;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
        @include ab.responsive("tm") {
            left: 0;
        }
        font-size: 1.4rem;
        .deposite {
            margin-left: 8px;
            color: #31456a;
            font-weight: 600;
        }
        .price {
            margin-left: 19px;
            color: #4ab5e3;
            font-weight: 400;
        }
    }
    .hero__card-interest {
        @include ab.flexCenter;
        flex-flow: column;
        position: absolute;
        right: 0;
        top: 127px;
        width: 130px;
        height: 130px;
        background: #da6464;
        border-radius: 50%;
        @include ab.responsive("tm") {
            right: 0;
        }
        color: #fff;
        .per {
            font-size: 4.4rem;
            font-weight: 600;
        }
        .interest {
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
    .hero__card-secured {
        @include ab.flexCenter();
        position: absolute;
        right: 82px;
        bottom: 65px;
        gap: 11px;
        width: 124px;
        height: 68px;
        border-radius: 10px;
        background: #439f90;

        color: #fff;
        font-family: "Open Sans";
        font-style: normal;
        @include ab.responsive("tm") {
            right: 0;
        }
        .secured-fund {
            @include ab.flexCenter($a: flex-start);
            gap: 5px;
            flex-flow: column;
            .price {
                font-size: 14px;
                font-weight: 600;
            }
            .secured {
                font-size: 8px;
                font-weight: 400;
            }
        }
    }
}
