@use "../abstract" as ab;
.payments {
    margin-top: 160px;

    &__title {
        margin-top: 12px;
    }
    &__desc {
        margin-top: 20px;
    }
    &__list {
        margin-top: 28px;
    }
    &__btn {
        margin-top: 38px;
    }

    &__right {
        padding-top: 86px;
        position: relative;
        .card {
            @include ab.responsive("m") {
                max-width: 100%;
            }
        }
    }

    &__send-money {
        position: absolute;
        right: -48px;
        top: 12px;
        @include ab.responsive("tm") {
            right: 15%;
        }
        @include ab.responsive("tm") {
            right: 25%;
        }
    }
    &__income {
        position: absolute;
        right: -12px;
        bottom: -55px;
        box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
        @include ab.responsive("tm") {
            right: 25%;
        }
        @include ab.responsive("m") {
            bottom: -30%;
            right: 45%;
        }
    }
}
