@use "../abstract" as ab;
.works {
    margin-top: 160px;
    &__title {
        margin-top: 12px;
    }
    &__list {
        display: flex;
        flex-flow: column;
        row-gap: 30px;
        margin-top: 70px;
        @include ab.responsive("tm") {
            text-align: left;
        }
    }
    &__item {
        &-desc {
            margin-top: 16px;
        }
    }
    &__left {
        position: relative;
        img {
            @include ab.responsive("m") {
                max-width: 100%;
            }
        }
    }

    &__right {
        padding-top: 29px;
    }

    @include ab.responsive("tm") {
        text-align: center;
    }
    .congratulations {
        @include ab.flexCenter($j: null);
        position: absolute;
        bottom: 96px;
        right: -116px;
        column-gap: 10px;
        font-family: "Inter", sans-serif;
        padding: 15px;
        width: 226px;
        height: 70px;
        border-radius: 8px;
        background: #fffdfa;
        box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
        @include ab.responsive("tm") {
            right: 10%;
        }
        @include ab.responsive("m") {
            display: none;
        }
        &-content {
            @include ab.flexCenter($a: flex-start);
            row-gap: 5px;
            flex-flow: column;
        }
        &-text {
            color: #212832;
            font-size: 1.4rem;
            font-weight: 600;
        }
        &-activated {
            color: #696d76;
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    .icon-img {
        @include ab.flexCenter;
        position: absolute;
        right: 55px;
        top: 76px;
        @include ab.responsive("tm") {
            right: 25%;
        }
        @include ab.responsive("m") {
            display: none;
        }
    }
}
