@use "../abstract" as ab;

.btn {
    @include ab.flexCenter();

    width: 149px;
    height: 58px;
    border-radius: 8px;

    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */

    transition: all 0.25s ease;

    @include ab.responsive("tm") {
        width: 120px;
        font-size: 1.4rem;
    }
    @include ab.responsive("m") {
        width: 100%;
        font-size: 1.4rem;
    }
    &:hover {
        cursor: pointer;
    }
    &-color1 {
        border: 2px solid ab.$primary-color;
        background: ab.$primary-color;
        &:hover {
            @include ab.btnHover(ab.$primary-color);
        }
    }
    &-color2 {
        border: 2px solid ab.$secondary-color;

        background: ab.$secondary-color;
        &:hover {
            @include ab.btnHover(ab.$secondary-color);
        }
    }
}
