@use "../abstract" as ab;

.list-circle {
    display: flex;
    flex-flow: column;
    margin-left: 24px;
    row-gap: 18px;

    .item-circle {
        position: relative;
        color: ab.$text-secondary-color;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.66; /* 166.667% */
        &::before {
            content: "";
            display: block;
            position: absolute;
            left: -24px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            background: ab.$primary-color;
            width: 12px;
            height: 12px;
        }
    }
}
