.header {
  padding-top: 42px;
}
.header__row {
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .header__row {
    position: relative;
  }
}
@media (max-width: 991.98px) {
  .header__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
  }
}
.header .nav__list {
  display: flex;
  align-items: center;
  margin-left: 63px;
  gap: 16px;
}
.header .nav__item a {
  position: relative;
  padding: 8px 16px;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
.header .nav__item a:hover {
  text-shadow: 0px 0px 1px #212832;
}
.header .nav__item a:hover::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-radius: 99px;
  background: #7264d6;
}
@media (max-width: 991.98px) {
  .header .nav {
    display: none;
  }
}
.header__control {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__control a {
  color: #212832;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}
@media (max-width: 767.98px) {
  .header__control a {
    display: none;
  }
}
.header__control .btn {
  margin-left: 28px;
  width: 113px;
  height: 52px;
  border-radius: 6px;
}
@media (max-width: 767.98px) {
  .header__control .btn {
    display: none;
  }
}

.hero {
  margin-top: 76px;
}
.hero__left {
  padding: 57px 30px 57px 0;
}
@media (max-width: 991.98px) {
  .hero__left {
    padding-right: 0;
    text-align: center;
  }
}
.hero__title {
  margin-top: 12px;
}
.hero__hightlight {
  color: #7264d6;
}
.hero__desc {
  margin-top: 20px;
}
.hero__form {
  margin-top: 48px;
}
.hero__form {
  position: relative;
}
@media (max-width: 991.98px) {
  .hero__form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .hero__form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    row-gap: 20px;
    flex-flow: column;
  }
}
.hero__form input {
  width: 540px;
  height: 74px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
  padding: 23px 160px 23px 23px;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
@media (max-width: 991.98px) {
  .hero__form input {
    width: 380px;
    height: 60px;
    font-size: 1.4rem;
  }
}
.hero__form .btn {
  position: absolute;
  right: -10px;
  top: 8px;
}
@media (max-width: 991.98px) {
  .hero__form .btn {
    position: relative;
    inset: 0;
  }
}
.hero__note {
  opacity: 0.7;
  display: inline-block;
  margin-top: 20px;
}
.hero__right {
  position: relative;
}
@media (max-width: 991.98px) {
  .hero__right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hero .hero__card-deposite {
  display: flex;
  align-items: center;
  position: absolute;
  top: 113px;
  left: -92px;
  background: #fff;
  width: 174px;
  height: 46px;
  border-radius: 6px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
  font-size: 1.4rem;
}
@media (max-width: 991.98px) {
  .hero .hero__card-deposite {
    left: 0;
  }
}
@media (max-width: 767.98px) {
  .hero .hero__card-deposite {
    display: none;
  }
}
.hero .hero__card-deposite .deposite {
  margin-left: 8px;
  color: #31456a;
  font-weight: 600;
}
.hero .hero__card-deposite .price {
  margin-left: 19px;
  color: #4ab5e3;
  font-weight: 400;
}
.hero .hero__card-interest {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: absolute;
  right: 0;
  top: 127px;
  width: 130px;
  height: 130px;
  background: #da6464;
  border-radius: 50%;
  color: #fff;
}
@media (max-width: 991.98px) {
  .hero .hero__card-interest {
    right: 0;
  }
}
@media (max-width: 767.98px) {
  .hero .hero__card-interest {
    display: none;
  }
}
.hero .hero__card-interest .per {
  font-size: 4.4rem;
  font-weight: 600;
}
.hero .hero__card-interest .interest {
  font-size: 1.6rem;
  font-weight: 400;
}
.hero .hero__card-secured {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 82px;
  bottom: 65px;
  gap: 11px;
  width: 124px;
  height: 68px;
  border-radius: 10px;
  background: #439f90;
  color: #fff;
  font-family: "Open Sans";
  font-style: normal;
}
@media (max-width: 991.98px) {
  .hero .hero__card-secured {
    right: 0;
  }
}
@media (max-width: 767.98px) {
  .hero .hero__card-secured {
    display: none;
  }
}
.hero .hero__card-secured .secured-fund {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  flex-flow: column;
}
.hero .hero__card-secured .secured-fund .price {
  font-size: 14px;
  font-weight: 600;
}
.hero .hero__card-secured .secured-fund .secured {
  font-size: 8px;
  font-weight: 400;
}

.works {
  margin-top: 160px;
}
.works__title {
  margin-top: 12px;
}
.works__list {
  display: flex;
  flex-flow: column;
  row-gap: 30px;
  margin-top: 70px;
}
@media (max-width: 991.98px) {
  .works__list {
    text-align: left;
  }
}
.works__item-desc {
  margin-top: 16px;
}
.works__left {
  position: relative;
}
@media (max-width: 767.98px) {
  .works__left img {
    max-width: 100%;
  }
}
.works__right {
  padding-top: 29px;
}
@media (max-width: 991.98px) {
  .works {
    text-align: center;
  }
}
.works .congratulations {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 96px;
  right: -116px;
  column-gap: 10px;
  font-family: "Inter", sans-serif;
  padding: 15px;
  width: 226px;
  height: 70px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}
@media (max-width: 991.98px) {
  .works .congratulations {
    right: 10%;
  }
}
@media (max-width: 767.98px) {
  .works .congratulations {
    display: none;
  }
}
.works .congratulations-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  row-gap: 5px;
  flex-flow: column;
}
.works .congratulations-text {
  color: #212832;
  font-size: 1.4rem;
  font-weight: 600;
}
.works .congratulations-activated {
  color: #696d76;
  font-size: 1.2rem;
  font-weight: 400;
}
.works .icon-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 55px;
  top: 76px;
}
@media (max-width: 991.98px) {
  .works .icon-img {
    right: 25%;
  }
}
@media (max-width: 767.98px) {
  .works .icon-img {
    display: none;
  }
}

.payments {
  margin-top: 160px;
}
.payments__title {
  margin-top: 12px;
}
.payments__desc {
  margin-top: 20px;
}
.payments__list {
  margin-top: 28px;
}
.payments__btn {
  margin-top: 38px;
}
.payments__right {
  padding-top: 86px;
  position: relative;
}
@media (max-width: 767.98px) {
  .payments__right .card {
    max-width: 100%;
  }
}
.payments__send-money {
  position: absolute;
  right: -48px;
  top: 12px;
}
@media (max-width: 991.98px) {
  .payments__send-money {
    right: 15%;
  }
}
@media (max-width: 991.98px) {
  .payments__send-money {
    right: 25%;
  }
}
.payments__income {
  position: absolute;
  right: -12px;
  bottom: -55px;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}
@media (max-width: 991.98px) {
  .payments__income {
    right: 25%;
  }
}
@media (max-width: 767.98px) {
  .payments__income {
    bottom: -30%;
    right: 45%;
  }
}

.feature {
  margin-top: 160px;
}
.feature__title {
  margin-top: 12px;
}
.feature__desc {
  margin-top: 20px;
}
.feature__list {
  margin-top: 28px;
}
.feature__btn {
  margin-top: 38px;
}
.feature__left {
  position: relative;
}
@media (max-width: 767.98px) {
  .feature__left img {
    max-width: 100%;
  }
}
.feature__right {
  padding-top: 50px;
}
.feature .cash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  right: -12px;
  bottom: 235px;
  width: 90px;
  height: 90px;
  background: #000;
  border-radius: 50%;
  background: #7264d6;
}
@media (max-width: 991.98px) {
  .feature .cash {
    right: 10%;
  }
}
@media (max-width: 767.98px) {
  .feature .cash {
    left: 0;
  }
}
.feature .method {
  position: absolute;
  right: 0;
  bottom: 57px;
  width: 281px;
  height: 220px;
  background: #fff;
  filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
  padding: 28px;
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
}
@media (max-width: 991.98px) {
  .feature .method {
    right: 10%;
  }
}
@media (max-width: 767.98px) {
  .feature .method {
    left: 5%;
  }
}
.feature .method-payments {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
.feature .method-payments .payment-card, .feature .method-payments .payment-add {
  width: 63px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2fa;
}
.feature .method-payments .payment-add {
  background: #f9ea63;
}

.testimonial {
  margin-top: 160px;
}
.testimonial .testimonial__header {
  margin: 0 auto;
  text-align: center;
  width: 435px;
}
@media (max-width: 767.98px) {
  .testimonial .testimonial__header {
    max-width: 100%;
  }
}
.testimonial__title {
  margin-top: 12px;
}
.testimonial__desc {
  margin-top: 18px;
}
.testimonial .testimonial__author .avatar, .testimonial .testimonial__author .avatar-2 {
  position: relative;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  background: #4ab5e3;
}
.testimonial .testimonial__author .avatar-2 {
  background: #439f90;
}
.testimonial .testimonial__author .name {
  margin-top: 20px;
  color: #070052;
  font-size: 2.6rem;
  font-weight: 600;
}
.testimonial .testimonial__author .desc {
  margin-top: 2px;
  color: #696d76;
  font-size: 1.8rem;
  font-weight: 400;
}
.testimonial__blockquote {
  margin-top: 70px;
  position: relative;
  padding: 42px 28px;
  width: 570px;
  background: #fff;
  color: #696d76;
  text-align: center;
  font-size: 2.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.55; /* 154.545% */
  border-radius: 10px;
  border: 1px solid #dfe2e8;
  transition: all 0.25s ease;
}
.testimonial__blockquote:hover {
  border-color: #fff;
  filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}
.testimonial__blockquote::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -82px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 42px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
@media (max-width: 991.98px) {
  .testimonial__blockquote {
    margin-left: auto;
    margin-right: auto;
    border-color: #fff;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
  }
}
@media (max-width: 767.98px) {
  .testimonial__blockquote {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-color: #fff;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
  }
}
.testimonial__author {
  margin-top: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.testimonial__rectangle-bullets {
  margin-top: 38px;
}

.blog {
  margin-top: 160px;
}
.blog__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog__header-left {
  width: 435px;
}
.blog__title {
  margin-top: 6px;
}
.blog__desc {
  margin-top: 18px;
}
@media (max-width: 767.98px) {
  .blog__desc {
    display: none;
  }
}
.blog__list {
  margin-top: 70px;
}
.blog__btn {
  width: 123px;
  height: 58px;
}
@media (max-width: 767.98px) {
  .blog__btn {
    display: none;
  }
}
.blog__item {
  display: flex;
  column-gap: 22px;
  width: 100%;
  padding: 28px;
  border-radius: 12px;
  border: 1px solid #dfe2e8;
  background: #fff;
  transition: all 0.25s ease;
}
.blog__item-thumb {
  width: 160px;
  height: 160px;
  border-radius: 12px;
}
.blog__item-date {
  display: inline-block;
  margin-top: 10px;
  font-weight: 400;
}
.blog__item-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 10px;
  font-size: 1.8rem;
  line-height: 1.66;
}
.blog__item:hover {
  border-color: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}
.blog__item:hover .blog__item-link {
  color: #7264d6;
}
.blog__item-link {
  display: inline-block;
  margin-top: 20px;
}

.download {
  margin-top: 160px;
  text-align: center;
}
.download .desc.sub-title::before {
  background: #fff;
}
.download__sub-title.sub-title {
  color: #fff;
}
.download__title {
  margin-top: 12px;
}
.download__title.heading {
  color: #fff;
}
.download__desc {
  margin-top: 18px;
}
.download__desc.desc {
  color: #fff;
}
.download__content {
  position: relative;
  padding: 100px 368px;
  border-radius: 24px;
  background: #7264d6;
}
@media (max-width: 991.98px) {
  .download__content {
    padding: 30px;
  }
}
.download__control {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
}
.download__control button {
  width: 182px;
  height: 64px;
  border-radius: 10px;
  color: #7264d6;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  transition: all 0.25s ease;
}
.download__control button .block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column;
  column-gap: 4px;
}
.download__control button .block .text-1 {
  font-size: 9px;
  font-weight: 500;
}
.download__control button .block .text-2 {
  letter-spacing: -1.5px;
  font-size: 16px;
  font-weight: 600;
}
.download__control button:hover {
  color: #fff;
  background: #7264d6;
  outline: 1px solid #fff;
}
.download__star {
  position: absolute;
}
@media (max-width: 991.98px) {
  .download__star {
    z-index: -1;
  }
}
.download__star:nth-of-type(1) {
  top: 49px;
  left: 112px;
}
.download__star:nth-of-type(2) {
  bottom: 49px;
  left: 166px;
}
.download__star:nth-of-type(3) {
  top: 49px;
  right: 112px;
}
.download__star:nth-of-type(4) {
  bottom: 49px;
  right: 166px;
}

.footer {
  margin-top: 100px;
  padding-top: 100px;
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .footer__row {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 50px;
  }
}
@media (max-width: 767.98px) {
  .footer__row {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 50px;
  }
}
.footer__logo {
  align-self: flex-start;
}
.footer__list {
  display: flex;
  align-self: flex-start;
  flex-flow: column;
  white-space: nowrap;
  row-gap: 25px;
}
.footer__list a {
  line-height: 0;
  opacity: 0.75;
}
.footer__item:nth-child(2) {
  margin-top: 2px;
}
.footer__infor-desc {
  opacity: 0.75;
  margin-top: 24px;
  width: 371px;
}
@media (max-width: 991.98px) {
  .footer__infor-desc {
    width: auto;
  }
}
.footer__infor-titel {
  margin-bottom: 24px;
}
.footer__infor-titel:nth-of-type(2) {
  margin-top: 48px;
}
.footer__infor-form {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.footer__infor-form input {
  color: #8e919a;
  padding: 12px;
  width: 270px;
  height: 52px;
  border-radius: 6px;
  border: 1px solid #8e919a;
  opacity: 0.7;
}
.footer__infor-form button {
  width: 113px;
  height: 52px;
}
.footer h3 {
  color: #212832;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}
.footer__contact {
  margin-top: 54px;
  display: flex;
  column-gap: 100px;
}
.footer__contact-item a {
  color: #6a6e78;
  text-decoration-line: underline;
}
.footer__copy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px 0;
  margin-top: 28px;
  background: #7264d6;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

/*# sourceMappingURL=index.css.map */
