@use "./variables";

@mixin flexCenter($a: center, $j: center) {
    display: flex;
    align-items: $a;
    justify-content: $j;
}
@mixin textStyle($c, $s: 18px, $w: 400, $lh: 1.66) {
    color: $c;
    font-size: $s;
    font-weight: $w;
    line-height: $lh;
}

@mixin btnHover($color) {
    color: $color;
    background: transparent;
    border-color: $color;
}
@mixin lineClamp($lc: 2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lc;
    overflow: hidden;
}
@mixin responsive($device) {
    @if $device == "tm" {
        @media (max-width: 991.98px) {
            @content;
        }
    }
    @if $device == "t" {
        @media (min-width: 768px) and (max-width: 991.98px) {
            @content;
        }
    }
    @if $device == "m" {
        @media (max-width: 767.98px) {
            @content;
        }
    }
}
